<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="dasfef(다스페프)의 개발취업난중일기">
  <!-- <meta name="description" content="dasfef의 개발취업난중일기"> -->
  <meta name="keywords" content="C,C++,C#,Python,Java,Arduino,Javascript,Oracle,Machine Learning,dev,파이썬,자바,아두이노,자바스크립트,오라클,머신러닝,AI">
  <title>
    {% if page.layout != 'home' %}{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} 
  </title>
  <!-- : {{ site.title }}{% else %}{{ site.title }}{% endif %} -->
  
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="/assets/favicon/site.webmanifest">
  <link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <script type="text/javascript" src="{{ page.js_file | relative_url }}"></script>
  
  <!-- iframe 관련 함수 -->
  <script>
    // iframe img 태그에서 url 받아오기
    function showFrame(url){
        var img = new Image();
        img.onload = function(){
            var iframe = document.getElementById('iframe');
            var container = document.getElementById('iframeContainer');
            
            // 이미지 사이즈 계산
            iframe.style.width = this.width + 'px';
            iframe.style.height = this.height + 'px';
            iframe.src = url;
            
            // 컨테이너 나타내기
            container.style.display = 'block';
        };
        img.src = url;
    }
    
    // iframe 외의 영역 클릭시 iframe 숨기기
    function hideIframe() {
        var container = document.getElementById('iframeContainer');
        container.style.display = 'none';
    }
</script> 
  {% seo %}

</head>
<div id="iframeContainer" onclick="hideIframe();">
  <iframe id="iframe"></iframe>
</div>
